<div class="row">
    <div class="col-md-8 col-xs-8 col-lg-8 col-md-offset-1 col-xs-offset-1 col-lg-offset-1">
        <div>
            <div class="col-md-1 text-right hkg-nopadding">
                <span class="glyphicon glyphicon-ok-circle" style="color: green;"></span>
            </div>
            <div class="col-md-11">
                <span class="text-justify">You have successfully logged out of system. You will be redirected to login screen in few seconds.</span>
                <img src="images/loading.gif" alt="loading" height="16" width="16"/>
            </div>
            <br/><br/>
            <div class="col-md-1"></div><div class="col-md-11">Or &nbsp;<a href="#/login">Click here</a> to login.</div>
        </div>
    </div>
</div>
