.container {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}
.tt-dropdown-menu,
.gist {
    text-align: left;
}
a {
    color: #03739c;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.table-of-contents li {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.table-of-contents li a {
    color: #999;
}

p + p {
    margin: 30px 0 0 0;
}

.typeahead,
.tt-query,
.tt-hint {
/*  height: 30px;*/
  padding: 8px 12px;
  line-height: 30px;
  border: 1px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.typeahead {
  background-color: #fff;
    width: 100%;
    height: 34px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.twitter-typeahead {
    width: 100%;
}

.typeahead:focus {
    border: 1px solid #ccc;
    border-color: #8c6eb0;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 10px rgba(140, 110, 176, .8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 10px rgba(140, 110, 176, .8);
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
  width: 100%;
  margin-top: none;
  padding: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: none;
     -moz-border-radius: none;
          border-radius: none;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
   margin-top: 2px;  
  padding: 2px 15px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.gist {
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
    padding: 5px 10px;
    text-align: center;
}

#multiple-datasets .league-name {
    margin: 0 20px 5px 20px;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
}

#rtl-support .tt-dropdown-menu {
    text-align: right;
}
