<!--<div class="col-xs-12">--> 
<form method="POST" class="form-horizontal" name="addInvoiceForm" novalidate>
    <div ng-if="flag.fieldSeqNotExist">
        <table class="table table-bordered">
            <tr>
                <td class="col-md-12">
                    {{entity + 'Please configure stock id for invoice'| translate}}
                </td>
            </tr>
        </table>
    </div>
    <div ng-init="registerLocationChangeEvent(addInvoiceForm);
            initAddInvoiceForm(addInvoiceForm)" ng-if="!flag.fieldSeqNotExist">
        <!--breadcrumb-->
        <div class="col-xs-12 breadcrumb-bg" >
            <div class="col-xs-12 col-lg-8">
                <ol class="breadcrumb">
                    <li>{{entity + 'You are here'| translate}}</li>
                    <li>{{entity + 'Stock'|translate}}</li>
                    <li class="active">{{entity + 'Add Invoice'| translate}}</li>
                </ol>
            </div>
        </div>
        <div class="col-xs-12 new-panel">
            <div class="clearfix"></div>
            <div id="messages" class="col-md-11" ng-include src="'templates/messages.html'"></div>
            <a ng-if="showParcelLink" ng-click="addParcel(addInvoiceForm)">{{entity + 'Add Parcel'| translate}}</a>
            <div class="clearfix"></div>

<!--            <div ng-if="generaInvoiceTemplate && generaInvoiceTemplate.length === 0">
                <table class="table table-bordered">
                    <tr>
                        <td class="col-md-12">
                            {{entity + 'First configure the invoice field to add'| translate}}
                        </td>
                    </tr>
                </table>
            </div>-->
            <div ng-if="invoiceAddShow && showConfigMsg === true">  
                <table class="table table-bordered">
                    <tr>
                        <td class="col-md-12">
                            {{entity + 'Mandatory fields are not configured for your designation, Please contact administrator'| translate}}
                        </td>
                    </tr>
                </table>
            </div>
            <div ng-if="invoiceAddShow && showConfigMsg === false">  
                <h4 ng-if="generaInvoiceTemplate">{{entity + 'Create Invoice'| translate }}</h4>  
                <dynamic-form  input-css ="col-md-3" label-css="col-md-2 control-label" db-map="dbType" 
                               internationalization-label="{{i18DynamicForm}}" form-name="form2" template="generaInvoiceTemplate" 
                               ng-model="invoiceCustom" ng-if="generaInvoiceTemplate" edit-flag="false" is-diamond="true" >
                    <!--ng-model="invoiceDataBean.invoiceCustom" ng-if="generaInvoiceTemplate" no-of-field-per-row = "2">-->
                </dynamic-form>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12" ng-if="invoiceAddShow && generaInvoiceTemplate && generaInvoiceTemplate.length > 0 && showConfigMsg === false">  
                <div class="row">
                    <hr/>
                    <div class="col-xs-12 pull-right text-right">                     
                        <a ng-click="onCanel(addInvoiceForm)">{{entity + 'Cancel'| translate}}</a>&nbsp;
                        <button class="btn btn-hkg" ng-disabled="flag.fieldSeqNotExist" ng-click="saveInvoice(addInvoiceForm)">{{entity + 'Add Invoice'| translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
