<!DOCTYPE html>

<!--To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="modal fade " data-backdrop="static" data-keyboard="false" id="departmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content" >
            <div class="modal-header">

                <button ng-click="cancelRemove()" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"> {{entity + 'Remove Department'| translate }}</h4>
            </div>
            <div id="wordRap" class="modal-body"  >
                <div>
                    {{ entity + "Are you sure you want to remove " | translate}} <span tooltip="{{departmentName}}" tooltip-placement="top">{{ departmentName.length > 50 ? departmentName.substring(0, 50) + '...' : departmentName}}</span>
                </div>
            </div>
            <div class="modal-footer" >
                <a href=""  ng-click="cancelRemove()"> {{entity + 'Cancel'| translate }}</a>
                <button type="button" class="btn btn-hkg" ng-click="updateDepartment()"> {{entity + 'Remove'| translate }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade"  data-backdrop="static" data-keyboard="false" id="departmentActiveUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content" >
            <div class="modal-header">

                <button type="button" ng-click="cancelRemove()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"> {{entity + 'Active Users'| translate }}</h4>
            </div>
            <div id="wordRap" class="modal-body"  >
                <div class="row"> 
                    <div class="col-md-12"> 
                        {{entity + "\{\{departmentName\}\} department cannot be removed. It has active users"| translate:{departmentName:(departmentName | translate)} }}
                    </div></div>

            </div>
            <div class="modal-footer" >
                <button type="button" class="btn btn-hkg" ng-click="cancelRemove()"> {{entity + 'OK'| translate }}</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade"  data-backdrop="static" data-keyboard="false" id="depRemoveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content" >
            <div class="modal-header">

                <button type="button" ng-click="cancelRemove()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalLabel"> {{entity + 'Remove Department'| translate }}</h4>
            </div>
            <div id="wordRap" class="modal-body"  >
                <div class="row"> 
                    <div class="col-md-12"> 
                        {{entity + " \{\{msgForDep\}\}  "| translate :{msgForDep:(msgForDep | translate)} }}
                    </div></div>

            </div>
            <div class="modal-footer" >
                <button type="button" class="btn btn-hkg" ng-click="cancelRemove()"> {{entity + 'OK'| translate }}</button>
            </div>
        </div>
    </div>
</div>


<div ng-init="initializePage();">
    <div class="row">
        <div class="col-xs-12"> 
            <div class="col-xs-12 breadcrumb-bg">
                <div class="col-xs-12 col-lg-8">
                    <ol class="breadcrumb">
                        <li>{{entity + 'You are here '| translate }}</li>
                        <li>{{entity + 'Manage'| translate }}</li>
                        <li >{{entity + 'DEPARTMENT '| translate }}</li>
                        <li class="active uppercase" ng-if="hasDepartmentAccess" ng-hide="isEditMode" >{{entity + 'ADD DEPARTMENT '| translate }}</li>
                        <li class="active uppercase" ng-if="hasDepartmentAccess" ng-show="isEditMode">{{entity + 'EDIT DEPARTMENT '| translate }}</li>
                    </ol>
                </div>
                <div class="col-xs-12 col-lg-4 text-right context-menu"> 
                    <span  ng-if="hasDepartmentAccess && isEditMode">
                        <span class="glyphicon glyphicon-plus-sign text-primary">
                        </span>&nbsp;
                        <a ng-click="addDataInDepartment()">{{entity + 'ADD DEPARTMENT'| translate }}</a> 
                    </span>
                </div>
            </div>
            <div class="col-xs-9 new-panel">
                <form name="addDepartmentForm" novalidate class="form-horizontal" >
                    <div ng-init="registerLocationChangeEvent(addDepartmentForm);
                            initAddDepartmentForm(addDepartmentForm)" class="col-xs-12 col-lg-12 well well-sm">

                        <div class="input-group ">
                            <div id="scrollable-dropdown-menu">
                                <input class="typeahead" type="text"  placeholder="Search  department by name" 
                                       ag-search="{{apipath}}department/searchdepartment" 
                                       result-format="displayName" 
                                       on-select="editDepartmentFromSearchBox" 
                                       on-enter="getSearchedDepartmentRecords"
                                       search-list-array='searchedList'
                                       id="scrollable-dropdown-menu"/>
                            </div>
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-hkg" ng-click="getSearchedDepartmentRecords(searchedList)" type="button"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                    <div id="messages" ng-include src="'templates/messages.html'"></div>
                    <div ng-include src="'views/secure/searcheddepartment.html'" ng-if="displaySearchedDepartment === 'search'"></div>
                    <div ng-show="hasDepartmentAccess && displaySearchedDepartment != 'search'" >
                        <div class="form-group">
                            <label ng-hide="isEditMode" for="departmentParent" class="col-md-3 col-lg-3 col-xs-4 control-label ">{{entity + 'Select Parent Department '| translate }}</label>
                            <label ng-show="isEditMode" for="departmentParent" class="col-md-3 col-lg-3 col-xs-4 control-label">{{entity + 'Parent Department '| translate }}</label>
                            <div id="departmentParent"  name="departmentParent" class="col-lg-6 col-md-6 col-xs-8" ng-class="{'has-error': addDepartmentForm.departmentParent.$invalid}">
                                <div  class="dropdown">
                                    <button id="1" class="dropdown-toggle form-control" data-toggle="dropdown" >
                                        <span class="pull-left wordRap" ng-bind="selectedParent.displayName"></span><span class="caret pull-right no-margin"></span>
                                    </button>
                                    <div  class="dropdown-menu col-xs-12 hkg-scrollableDropDown-tree" >

                                        <div  ng-if="departmentListDropdown" ng-click='setSelectedParent(selectedDepartmentDropdown)'
                                              data-angular-treeview="true"
                                              data-tree-id="selectedDepartmentDropdown"
                                              ag-treemodel="departmentListDropdown" search-id="parentId" entity-name="DPT_NM.">
                                        </div>
                                    </div>
                                </div>

                                <div class="has-error error help-block">
                                    <span class="help-block" ng-show="invalidParent">&nbsp;{{entity + 'select valid parent '| translate }}</span>
                                </div>
                                <div class="error,help-block" ng-show="addDepartmentForm.departmentParent.$dirty && addDepartmentForm.departmentParent.$invalid">
                                    <span class="help-block" ng-show="addDepartmentForm.departmentParent.$error.required">{{entity + 'Select department parent '| translate }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group required">
                            <label ng-hide="isEditMode" for="departmentTitle" class="col-md-3 col-lg-3 col-xs-4 control-label">{{entity + 'Department Name '| translate }}</label>
                            <label ng-show="isEditMode" for="departmentTitle" class="col-md-3 col-lg-3 col-xs-4 control-label">{{entity + 'Department Name '| translate }}</label>
                            <div class="col-lg-6 col-md-6 col-xs-8" ng-class="{'has-error': addDepartmentForm.departmentTitle.$invalid && (addDepartmentForm.departmentTitle.$dirty || submitted)}">
                                <input ng-pattern="/^[^.]+$/"  maxlength="100"  ng-change="checkDepartmentNameExist(departmentTitle)" type="text"  class="form-control" id="departmentTitle" ng-model="departmentTitle" name="departmentTitle"  required>
                                <div ng-show="showSameDeptIdError && !addDepartmentForm.departmentTitle.$error.required" class="text-danger" > {{departmentTitle}}&nbsp; {{entity + 'already exists '| translate }}</div>
                                <div class="error,help-block" ng-show="(addDepartmentForm.departmentTitle.$dirty || submitted) && addDepartmentForm.departmentTitle.$invalid">
                                    <span class="help-block" ng-show="addDepartmentForm.departmentTitle.$error.required">{{entity + 'Department name not entered  '| translate }}</span>
                                    <span class="help-block" ng-show="addDepartmentForm.departmentTitle.$error.pattern">{{ entity + 'Department name is invalid ' | translate}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label ng-hide="isEditMode" for="departmentDescription" class="col-md-3 col-lg-3 col-xs-4 control-label">{{entity + 'Description '| translate }}</label>
                            <label  ng-show="isEditMode"for="departmentDescription" class="col-md-3 col-lg-3 col-xs-4 control-label">{{entity + 'Description '| translate }}</label>
                            <div class="col-lg-6 col-md-6 col-xs-8" >
                                <textarea maxlength="500" rows="5" ng-trim="false" class="form-control" id="departmentDescription" ng-model="departmentDescription" name="departmentDescription"></textarea>
                                <div id="messagecounter" class="pull-right center">{{500 - departmentDescription.length}}&nbsp;  {{entity + 'characters left'| translate }}</div> 
                                <span class="error"  ng-show="addDepartmentForm.departmentDescription.$error.maxlength"> Too long!</span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label ng-hide="isEditMode" for="shiftRotationDays" class="col-md-3 col-lg-3 col-xs-4 control-label">{{entity + 'Shift Rotation Duration '| translate }}</label>
                            <label  ng-show="isEditMode"for="shiftRotationDays" class="col-md-3 col-lg-3 col-xs-4 control-label">{{entity + 'Shift Rotation Duration '| translate }}</label>
                            <div class="col-lg-6 col-md-6 col-xs-8" >
                                <input type="text" maxlength="3" class="form-control" numbers-only="true" id="shiftRotationDays" ng-model="shiftRotationDays" name="shiftRotationDays"/>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div ng-show="isEditMode && !isDefaultDep"class="form-group">
                            <label for="departmentStatus" class="col-md-3 col-lg-3 col-xs-4 control-label">{{entity + 'Status '| translate }}</label>
                            <div class="col-lg-6 col-md-6 col-xs-8" >
                                <label class="radio-inline"><input type="radio" name="departmentStatus" value="true" ng-model="statusDepartment">{{entity + 'Active '| translate }}&nbsp;&nbsp;</label>
                                <label class="radio-inline"><input type="radio" name="departmentStatus" value="false"  ng-model="statusDepartment" >{{entity + 'Remove Department '| translate }}</label>
                            </div>
                        </div>
                        <div ng-if="isEditing && reload === true">
                            <dynamic-form  input-css ="col-lg-6 col-md-6 col-xs-8" label-css="col-md-3 col-lg-3 col-xs-4 control-label" db-map="dbType" internationalization-label="{{i18DynamicForm}}" name="ss"  template="genralDepartmentTemplate" ng-if="genralDepartmentTemplate" ng-model="addDepartmentData" is-diamond="false" no-of-field-per-row = "1" edit-flag="{{isEditMode}}" form-name="addDept"/>
                            </dynamic-form>
                        </div>
                        <div ng-if="!isEditing && reload === true">
                            <dynamic-form  input-css ="col-lg-6 col-md-6 col-xs-8" label-css="col-md-3 col-lg-3 col-xs-4 control-label" db-map="dbType" internationalization-label="{{i18DynamicForm}}" name="ss"  template="genralDepartmentTemplate" ng-if="genralDepartmentTemplate" ng-model="addDepartmentData" is-diamond="false" no-of-field-per-row = "1" edit-flag="{{isEditMode}}" form-name="editDept"/>

                            </dynamic-form>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-xs-12">
                            <div class="row">
                                <hr/>
                                <div class="col-xs-12 pull-right text-right">
                                    <a ng-hide="isEditMode" href="" ng-click="onCancel();" href="" >{{entity + 'Cancel '| translate }}</a>
                                    <a ng-show="isEditMode" href="" ng-click="onCancel();">{{entity + 'Cancel '| translate }}</a>
                                    &nbsp;
                                    <button class="btn btn-hkg " type="submit" ng-hide="isEditMode" ng-click="addDepartment()">{{entity + 'Add Department '| translate }}</button>
                                    <button class="btn btn-hkg " ng-click="saveDepartment();" ng-show="isEditMode" >{{entity + 'Save Department '| translate }}</button>
                                </div>
                            </div>
                        </div>

                </form>
            </div>
        </div>
        <div ng-show="hasDepartmentAccess" class="col-xs-3 tree-bg ">
            <div class="col-xs-12  hkg-scrollableDropDown-tree "><span class="glyphicon glyphicon-circle-arrow-down text-hkg ">

                </span>&nbsp;&nbsp;<span class="text-hkg">
                    <strong>{{entity + 'EXISTING DEPARTMENTS'| translate }}</strong></span>
                <hr class="margin-md"/>      
                <div class="col-xs-12">
                    <div class="input-group">
                        <input class="form-control" ng-model='treeSearchQuery' type="text" placeholder="Search"/>
                        <div class="input-group-addon" ><span class="glyphicon glyphicon-search"></span></div>
                    </div>
                </div>
                <!--Tree component starts-->
                <div class="col-xs-12 hkg-nopadding">
                    <br/>
                    <div style="max-height: 400px;overflow: auto;"  ng-if="departmentList" ng-show="departmentList.length > 0" ng-click='editDepartment(selectedDepartment)' 
                         data-angular-treeview="true"
                         data-tree-id="selectedDepartment"
                         ag-treemodel="departmentList" search-id="searchDepName"
                         data-search-query='treeSearchQuery'>
                    </div>
                </div>
                <div  ng-hide="departmentList.length > 0">
                    {{entity + 'No departments exist'| translate }}
                </div>
            </div>

        </div>
    </div>
</div>
</div>
