<!DOCTYPE html>
<!--
This page is for managing the locales of the system.
-->
<div class="row">
    <div class="col-xs-12"> 
        <!--Navigation Bar-->
        <div class="col-xs-12 breadcrumb-bg" >
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li>{{i18Locales + 'You are here'| translate}}</li>
                    <li>{{i18Locales + 'Manage'| translate}}</li>
                    <li >{{i18Locales + 'Locales'| translate}}</li>
                    <li class="active">{{i18Locales + 'Edit Locale'| translate}}</li>
                </ol>
            </div>            
        </div>
        <!--Middle part where form and input fields located-->
        <div class="col-xs-9 new-panel">
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-horizontal" role="form">
                        <!--Search panel-->
                        <!--                        <div class="col-xs-12 col-lg-12 well well-sm">
                                                    <div class="input-group ">                                
                                                        <input type="text" class="form-control" ng-model="searchString" placeholder="Search locale by original value, translated value..">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-hkg" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                                        </span>
                                                    </div>                            
                                                </div>-->
                        <div class="clearfix"></div>
                        <!--This is the template to show notiication message-->
                        <div id="messages" ng-include src="'templates/messages.html'"></div>

                        <!--translate to field (language selection field)-->                        
                        <div  id='selected_category_label' class="col-xs-12 col-lg-12">
                            <div class="form-group">
                                <label for="select_language" class="col-md-2 col-lg-2 control-label" >{{i18Locales + 'Translate To '| translate }}</label>
                                <div class="col-md-4 col-lg-4 col-sm-8">
                                    <select id="select_language" class="form-control" ng-options="language as language.name for language in languageList" ng-model="selectedLanguage" ng-change="setClickedLetter(searchLetter)">
                                        <option value="">{{i18Locales + 'Select language'| translate }}</option>
                                    </select>
                                </div>

                            </div>

                            <!--Label bar to display Selected category of tree-->
                            <div id='select_language_row' class="col-xs-12 col-lg-12">
                                <div class="form-group">                                           
                                    <div>
                                        <h4>{{i18Locales + selectedCategoryInTree.displayName + ' translation'| translate }}</h4>
                                    </div>
                                </div>
                            </div>
                            <!--Label,master and message translation division--> 
                            <div ng-if="selectedCategoryInTree.id == 'LABEL' || selectedCategoryInTree.id == 'MESSAGE' || selectedCategoryInTree.id == 'MASTER'">
                                <!--Alphabetic search bar-->
                                <div class="table-responsive col-lg-11 col-xs-11">
                                    <table width="100%">
                                        <tr>                        
                                            <td ng-repeat="letter in alphabets">
                                                <a href="" ng-click="setClickedLetter(letter)">{{ i18Locales + letter | translate }}</a>&nbsp;&nbsp;
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <a href="" ng-click="showAllLabels();">All</a>
                                <div class="table-responsive col-lg-12 col-xs-12" ng-if="!isDisplayTable"><br>
                                    <table class="table  table-bordered" >
                                        <tr>
                                            <td class="col-md-12">
                                                {{ i18Locales + "No Record exist." | translate}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-xs-12 col-lg-12" ng-if="localesList.length > 0 && isDisplayTable">
                                    <br/> 
                                    <div class="col-xs-3  pull-right"> 
                                        <input type="text" class="form-control" ng-model="searchText" placeholder="search">
                                    </div>
                                    <div class="row col-lg-12 col-xs-12">
                                        <table  class="table table-striped table-responsive"  ag-data-table="localesList" >
                                            <thead>
                                                <tr>
                                                    <th style=" white-space: nowrap;">{{i18Locales + 'Sr. No.'| translate}}</th>
                                                    <th>{{i18Locales + 'Original Value'| translate}}</th>
                                                    <th>{{i18Locales + 'Used In Feature'| translate}}</th>
                                                    <th>{{i18Locales + 'Translated Value'| translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr ng-repeat="locale in localesList| localeFilter:searchText" dt-rows>
                                                    <td>{{$index + 1}}</td>

                                                    <td><span ng-if="locale.defaultText.length <= 45">{{locale.defaultText}}</span>
                                                        <span ng-if="locale.defaultText.length > 45" tooltip="{{locale.defaultText}}" tooltip-trigger="mouseenter" tooltip-placement="right">{{locale.shortLabel}}...</span></td>
                                                    <td>{{locale.entity}} </td>
                                                    <td><input type='text' ng-model="locale.text"/></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="localesList.length > 0">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <hr/>
                                            <div class="col-xs-12 pull-right text-right"> <a href="" ng-click="cancelTranslation()">{{i18Locales + "Cancel"| translate}}</a>&nbsp;
                                                <button type="button"  class="btn btn-hkg" ng-click="updateTranslation()">{{i18Locales + "Save Translation"| translate}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>    


                            </div>
                            <!--content translation division-->
                            <div ng-if="selectedCategoryInTree.id == 'CONTENT'" ng-init="initFnForContentTranslation()">                            
                                <!--Selection bar or filters of content translation-->
                                <div class="table-responsive col-lg-12 col-xs-12">
                                    <div class="row">
                                        <!--Content type filter-->
                                        <div class="form-group col-lg-6 col-xs-6">
                                            <label for="select_content_type" class="col-lg-5 col-xs-5 control-label" >{{i18Locales + 'Content Type'| translate }}</label>
                                            <div class="col-lg-7 col-xs-7">
                                                <select id="select_content_type" class="form-control" ng-options="contentType as contentType for contentType in contentTypeList" ng-model="selectedContentType" ng-change="getListByContentType(selectedContentType)">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!--letter filter
                                    <!--Alphabetic filter bar-->
                                    <div class="table-responsive col-lg-11 col-xs-11">
                                        <table width="100%">
                                            <tr>                        
                                                <td ng-repeat="letter in alphabets">
                                                    <a href="" ng-click="setClickedLetter(letter)">{{ i18Locales + letter | translate }}</a>&nbsp;&nbsp;
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                    <a href="" ng-click="showAllLabels();">All</a>
                                    <!--content table-->
                                    <div class="table-responsive col-lg-12 col-xs-12" ng-if="!isDisplayTable">
                                        <table class="table  table-bordered" >
                                            <tr>
                                                <td class="col-md-12">
                                                    {{ i18Locales + "No Record exist." | translate}}
                                                </td>
                                            </tr>

                                        </table>
                                    </div>

                                    <div class="row col-lg-12 col-xs-12" ng-if="localesList.length > 0 && isDisplayTable">
                                        <br><div class="col-xs-3  pull-right"> 
                                            <input type="text" class="form-control" ng-model="searchText" placeholder="search">
                                        </div>
                                        <table class="table" ag-data-table="localesList">
                                            <thead>
                                                <tr>
                                                    <th>{{i18Locales + 'Sr. No.'| translate}}</th>
                                                    <th>{{i18Locales + 'Original Value'| translate}}</th>
                                                    <th>{{i18Locales + 'Content Type'| translate}}</th>
                                                    <th>{{i18Locales + 'Translated Value'| translate}}</th>
                                                </tr>
                                            </thead>       
                                            <tbody>
                                                <tr ng-repeat="locale in localesList| localeFilter:searchText" dt-rows>
                                                    <td>{{$index + 1}}</td>
                                                    <td>{{locale.key}}</td>
                                                    <td>{{locale.entity}} </td>
                                                    <td><input type='text' ng-model="locale.text"/></td>
                                                </tr>
                                            </tbody>
                                        </table>  
                                    </div>
                                    <div class="form-group" ng-show="localesList.length > 0">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <hr/>
                                                <div class="col-xs-12 pull-right text-right"> <a href="" ng-click="cancelTranslation()">{{i18Locales + "Cancel"| translate}}</a>&nbsp;
                                                    <button  class="btn btn-hkg" ng-click="updateTranslation()">{{i18Locales + "Save Translation"| translate}}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                            <!--Masters translation division-->
                            <!--                        <div ng-if="selectedCategoryInTree.id == 'MASTER'" ng-init="initFnForMasterTranslation()">
                                                        <div class="table-responsive col-lg-12 col-xs-12">
                                                            Alphabetic search bar
                                                            <div class="table-responsive col-lg-12 col-xs-12">
                                                                <table width="100%">
                                                                    <tr>                        
                                                                        <td ng-repeat="letter in alphabets"><a href="" ng-click="setClickedLetter(letter)">{{ i18Locales + letter | translate }}</a>&nbsp;&nbsp;
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>                                
                                                        </div>
                                                    </div>                        -->
                            <!--Report translation division-->
                            <div ng-if="selectedCategoryInTree.id == 'REPORT'" ng-init="initFnForReportTranslation()">
                                <div class="table-responsive col-lg-11 col-xs-11">
                                    <table width="100%">
                                        <tr>                        
                                            <td ng-repeat="letter in alphabets">
                                                <a href="" ng-click="setClickedLetter(letter)">{{ i18Locales + letter | translate }}</a>&nbsp;&nbsp;
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                                <a href="" ng-click="showAllLabels();">All</a>
                                <div class="table-responsive col-lg-12 col-xs-12" ng-if="!isDisplayTable">
                                    <table class="table  table-bordered" >
                                        <tr>
                                            <td class="col-md-12">
                                                {{ i18Locales + "No Record exist." | translate}}
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                                <div class="row col-lg-12 col-xs-12" ng-if="localesList.length > 0 && isDisplayTable">
                                    <br><div class="col-xs-3  pull-right"> 
                                        <input type="text" class="form-control" ng-model="searchText" placeholder="search">
                                    </div>
                                    <table class="table" ag-data-table="localesList">
                                        <thead>
                                            <tr>
                                                <th>{{i18Locales + 'Sr. No.'| translate}}</th>
                                                <th>{{i18Locales + 'Original Value'| translate}}</th>
                                                <th>{{i18Locales + 'Content Type'| translate}}</th>
                                                <th>{{i18Locales + 'Translated Value'| translate}}</th>
                                            </tr>
                                        </thead>       
                                        <tbody>
                                            <tr ng-repeat="locale in localesList| localeFilter:searchText" dt-rows>
                                                <td>{{$index + 1}}</td>
                                                <td>{{locale.key}}</td>
                                                <td>{{locale.entity}} </td>
                                                <td><input type='text' ng-model="locale.text"/></td>
                                            </tr>
                                        </tbody>
                                    </table>  
                                </div>
                                <div class="form-group" ng-show="localesList.length > 0">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <hr/>
                                            <div class="col-xs-12 pull-right text-right"> <a href="" ng-click="cancelTranslation()">{{i18Locales + "Cancel"| translate}}</a>&nbsp;
                                                <button  class="btn btn-hkg" ng-click="updateTranslation()">{{i18Locales + "Save Translation"| translate}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <!--Notification translation division-->
                            <div ng-if="selectedCategoryInTree.id == 'NOTIFICATION'" ng-init="initFnForNotificationTranslation()">

                                <div class="table-responsive col-lg-12 col-xs-12" ng-if="!isDisplayTable"><br>
                                    <table class="table  table-bordered" >
                                        <tr>
                                            <td class="col-md-12">
                                                {{ i18Locales + "No Record exist." | translate}}
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                                <div class="row col-lg-12 col-xs-12" ng-if="isDisplayTable">
                                    <br><div class="col-xs-3  pull-right"> 
                                        <input type="text" class="form-control" ng-model="searchText" placeholder="search">
                                    </div>
                                    <table class="table" ag-data-table="localesList">
                                        <thead>
                                            <tr>
                                                <th>{{i18Locales + 'Sr. No.'| translate}}</th>
                                                <th style="width:40%">{{i18Locales + 'Original Value'| translate}}</th>
                                                <th>{{i18Locales + 'Content Type'| translate}}</th>
                                                <th>{{i18Locales + 'Translated Value'| translate}}</th>
                                            </tr>
                                        </thead>       
                                        <tbody>
                                            <tr ng-repeat="locale in localesList| localeFilter:searchText" dt-rows>
                                                <td>{{$index + 1}}</td>
                                                <td><span class="wordRap" ng-bind="locale.defaultText"></span></td>
                                                <td>{{locale.entity}} </td>
                                                <td><input type='text' ng-model="locale.text"/></td>
                                            </tr>
                                        </tbody>
                                    </table>  
                                </div>
                                <div class="form-group" ng-show="localesList.length > 0">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <hr/>
                                            <div class="col-xs-12 pull-right text-right"> <a href="" ng-click="cancelTranslation()">{{i18Locales + "Cancel"| translate}}</a>&nbsp;
                                                <button  class="btn btn-hkg" ng-click="updateTranslation()">{{i18Locales + "Save Translation"| translate}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--Tree part right side panel-->
        <div class="col-xs-3 tree-bg ">
            <!--Label of tree view for-->
            <div class="col-xs-12  fit-content">
                <span class="glyphicon glyphicon-circle-arrow-down text-hkg "></span>&nbsp;&nbsp;<span class="text-hkg">
                    <strong>{{i18Locales + 'EXISTING CATEGORIES'| translate }}</strong>
                </span>
                <hr class="margin-md"/>                
                <!--Tree component generation-->
                <div ng-if="categoryList" ng-click="openSelectedCategoryPage(categoryTreeId.currentNode)"
                     data-angular-treeview="true"
                     data-tree-id="categoryTreeId"
                     ag-treemodel="categoryList">
                </div>                
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--.............................................................commented code remove once you dont require for reference........................................................................-->
<!--                            <div class="row">
                                                            <table class="table table-responsive" width="100%" ag-data-table="serverRecordsOfLocales" source-function="serverSidePgintnOfLocales" dt-search="searchLetter">
                                                                <thead>
                                                                    <tr>
                                                                        <th>{{i18Locales + 'Sr. No.'| translate}}</th>
                                                                        <th>{{i18Locales + 'Original value'| translate}}</th>
                                                                        <th>{{i18Locales + 'Used in feature'| translate}}</th>
                                                                        <th>{{i18Locales + 'Translated value'| translate}}</th>
                                                                    </tr>
                                                                </thead>
                                                            </table>                            
                                                        </div>-->