
<div class="col-xs-12 form-group">
    <div>
        <h4>
            <span>Photo Gallery</span>
        </h4>
        <a ng-if="canAccess('eventsUploadPhoto')" class="pull-right" ng-click="showGalleryPopup()"><span class="glyphicon glyphicon-plus">{{entity + ' Upload'|translate}}</span></a>
    </div>
</div>
<div ng-if="photos.length >0">
    <div ng-repeat="photo in photos" class="gallery-box ng-scope">
        <div>
            <img width="200px" height="150px" ng-src="{{photo.src}}" ng-click="galleryPopup($index)">
            <input type="checkbox" ng-model="photoNames" ng-checked="selection.indexOf(photo.name) > -1" ng-click="toggleSelection(photo.name)"/>
        </div>
    </div>
</div>
<div ng-if="photos.length === 0">
    <span ng-bind="entity + 'No Photos are Available' | translate"></span>
</div>
<div class="col-md-12">
    <div class="row">
        <hr/>
        <div class="col-xs-12 pull-right text-right"> 
            <a href="" ng-click="closeGalleryDisplay()">
                {{ entity + 'Close' | translate}}
            </a>&nbsp;
            <button class="btn btn-hkg" ng-click="deletePhotos()">
                <span ng-bind="entity + 'Delete' | translate"></span>
            </button>
        </div>
    </div>
</div>

<div class="row">

</div>
<div flow-init="galleryUploadFile" flow-file-added="galleryFileAdded($file, $flow)" flow-file-success="galleryFileUploaded($file,$flow,$message)" flow-files-submitted="$flow.upload()">
    <form class="form-horizontal" role="form"  name="addPhotoGalleryForm" novalidate> 
        <div class="modal fade" role="dialog" id="addGalleryPopup" tabindex="-1" aria-hidden="true" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a class="close" href="" ng-click="hideGalleryPopup(addGalleryPopup)">&times;</a>
                        <h4 class="modal-title" id="myModalLabel">
                            {{ entity + 'Manage Event Gallery' | translate}}
                        </h4>
                    </div>
                    <div class="modal-body" >
                        <div class='form-group' >
                            <label for="galleryUpload"  class="col-md-3 control-label">
                                {{ entity + 'Gallery Upload' | translate}}
                            </label>
                            <div class="drop" flow-drop="" ng-class="dropClass">
                                <button class="btn btn-hkg" flow-btn="">{{entity + 'Choose File'|translate}}<input type="file" multiple="multiple" style="visibility: hidden; position: absolute;"></button>
                                <button class="btn btn-hkg" flow-btn="" flow-directory="" ng-show="$flow.supportDirectory">{{entity + 'Choose Folder'|translate}}<input type="file" multiple="multiple" webkitdirectory="webkitdirectory" style="visibility: hidden; position: absolute;"></button>
                            </div>
                            <br>
                            <div>
                                <div ng-repeat="file in $flow.files" class="gallery-box ng-scope" ng-if="$flow.files !== null">
                                    <span class="title ng-binding">{{file.name}} </span>
                                    <div ng-show="$flow.files.length">
                                        <img flow-img="file" src="" width="200px" height="150px">
                                    </div><br/>
                                    <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (file.progress() * 100) + '%'}" style="width: 100%;">
                                            <span class="sr-only ng-binding">1% Complete</span>
                                        </div>
                                    </div>
                                    <div class="btn-group">
                                        <a class="btn btn-xs btn-danger" ng-click="removeUploadedImage(file,file.msg)">
                                            Remove
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-6 pull-right">
                                    <a href=""  ng-click="cancelGallery($flow)">{{ entity + 'Cancel' | translate}}</a>&nbsp;
                                    <button class="btn btn-hkg" ng-click="submitFilesAndSaveGallery($flow, addPhotoGalleryForm)">{{ entity + 'Save Gallery' | translate}}</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" role="dialog" id="galleryPopup" tabindex="-1" aria-hidden="true" >
    <div class="modal-dialog">

        <div class="row">
            <div ng-if="photos != null">

                <div id="checks" class="slider-gallery">

                    <!-- enumerate all photos -->
                    <img ng-repeat="photo in photos" class="slide-gallery img-responsive" style="height: 100%;width: 100%" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-show="isActive($index)" ng-src="{{photo.src}}" />
                    <a class="close" href="" ng-click="hideSlidergalleryPopup()">&times;</a>
                    <!-- prev / next controls -->
                    <a id="prev" class="arrow-gallery prev-gallery" ng-click="showPrev()"></a>
                    <a id="next" class="arrow-gallery next-gallery" ng-click="showNext()"></a>
                </div>                     
            </div>
        </div>
    </div>
</div>
</div>