<form role="form" class="form-horizontal" novalidate name="printBarcodeForm">
    <div class="row" ng-init="initializeData();
            initTrackStockForm(printBarcodeForm)
         ">
        <div class="col-xs-12"> 
            <div class="col-xs-12 breadcrumb-bg">
                <div class="col-xs-12 col-lg-8">
                    <ol class="breadcrumb">
                        <li>{{entity + 'You are here'| translate }}</li>
                        <li>{{entity + 'Stock'| translate }}</li>
                        <li class="active">{{entity + 'Print Barcode'| translate }}</li>
                    </ol>
                </div>
            </div>
            <div class="col-xs-12 new-panel">

                <div class="row">
                    <div class="col-md-12">
                        <div id="messages" ng-include src="'templates/messages.html'"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div ng-if="flag.configSearchFlag === false">
                    <div class="form-group required">
                        <div class="col-lg-6 col-md-6 col-xs-12" style="padding-left: 0px;padding-right: 0px;">
                            <label for="fields" class="col-md-4 control-label wordRap">{{entity + "Generate Barcode for"| translate}}</label>
                            <div class="col-md-8" ng-class="{'has-error': printBarcodeForm.fields.$invalid && (printBarcodeForm.fields.$dirty || submitted)}">
                                <select id="fields" required  name="fields" class="form-control col-md-8"  ng-options="fields.id as fields.text for fields in fieldList" ng-model="printBarcodeDataBean.selectedField">
                                    <option value="">{{entity + 'Select'| translate }}</option>
                                </select>
                                <div class="error,help-block" ng-show="printBarcodeForm.fields.$invalid && (printBarcodeForm.fields.$dirty || submitted)">
                                    <span class="help-block" ng-show="printBarcodeForm.fields.$error.required">{{ entity + "Select Field" | translate }}</span>                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="generalSearchTemplate && searchResetFlag">
                        <custom-search  input-css ="col-md-3" label-css="col-md-2 control-label" db-map="dbType"
                                        internationalization-label="{{i18DynamicForm}}" template="generalSearchTemplate" 
                                        ng-model="searchCustom" ng-if="generalSearchTemplate" is-diamond="true">
                        </custom-search>
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <hr/>
                            <div class="col-xs-6 pull-right text-right">
                                <a ng-click="onCancelOfSearch()">{{entity + 'Cancel'| translate}}</a>&nbsp;
                                <button class="btn btn-hkg" ng-click="retrieveSearchedData()">{{entity + 'Search'| translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="flag.configSearchFlag === true">
                    <table class="table table-bordered">
                        <tr>
                            <td class="col-md-12">
                                {{entity + 'First configure the search field to generate barcodes'| translate}}
                            </td>
                        </tr>
                    </table>
                </div>
                <div ng-if="(searchedDataFromDb.length === 0 && listFilled)">
                    <h4>{{entity + 'Searched Lots/Packets'| translate}}</h4>
                    <div class="col-xs-12 col-lg-12">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="col-md-12">
                                    {{entity + 'No matching results found'| translate}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id='masterDetail' ng-if="searchedDataFromDb && (searchedDataFromDb.length) > 0">
                    <h4>{{entity + 'Searched Lots/Packets'| translate}}</h4>
                    <div class="form-group">                        
                        <div  class="col-md-12" ng-if="listFilled">
                            <div id="gridTable"  ui-grid="gridOptions"  ui-grid-selection ui-grid-pinning ui-grid-auto-resize></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" ng-if="(searchedDataFromDb.length) > 0 && flag.rowSelectedflag">
                    <div class="row">
                        <hr/>
                        <div class="col-xs-6 pull-right text-right">
                            <button class="btn btn-hkg" ng-click="printBarcode()">{{entity + 'Print Barcode'| translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>