
<form method="POST" class="form-horizontal" name="roughSaleForm" novalidate>    
    <div ng-show="dataRetrieved" ng-init="registerLocationChangeEvent(roughSaleForm);
            initAddParcelForm(roughSaleForm)">
        <div class="col-xs-12 breadcrumb-bg" >
            <div class="col-xs-12 col-lg-8">
                <ol class="breadcrumb">
                    <li>{{entity + 'You are here'| translate}}</li>
                    <li>{{entity + 'Stock'|translate}}</li>
                    <li class="active">{{entity + 'Rough Sale'| translate}}</li>
                </ol>
            </div>
            <div class="col-xs-12 col-lg-4 text-right context-menu" ng-if="!flag.template"> 
                <span class="glyphicon glyphicon-plus-sign text-primary"></span>&nbsp;<a class="pull-right" ng-click="showParcelTemplate('template')">{{ entity + 'New Sale' | translate}}</a>
            </div>
        </div>
        <div class="col-xs-12 new-panel">
            <div class="clearfix"></div>
            <div id="messages" class="col-md-12" ng-include src="'templates/messages.html'"></div>            
            <div class="clearfix"></div>            
            <div ng-if="!flag.template">
                <div ng-if="searchDirective">
                    <custom-search  input-css ="col-md-3" label-css="col-md-2 control-label" db-map="dbType"
                                    internationalization-label="{{i18DynamicForm}}" template="generalSearchTemplate" 
                                    ng-model="searchCustom" ng-if="generalSearchTemplate" is-diamond ="true">
                    </custom-search>
                </div>

                <div class="clearfix"></div>
                <div class="col-xs-12" ng-if="generalSearchTemplate && generalSearchTemplate.length > 0">
                    <div class="row">
                        <hr/>
                        <div class="col-xs-12 pull-right text-right">                     
                            <a ng-click="onCancelOfSearch(invoiceForm)">{{entity + 'Cancel'| translate}}</a>&nbsp;
                            <button class="btn btn-hkg" ng-click="retrieveSearchedData(invoiceForm)">{{entity + 'Search'| translate}}</button>
                        </div>
                    </div>
                </div>
                <br/>
                <div ng-show="(!searchedData.length > 0 && listFilled)">
                    <h4>{{entity + 'Sale Details'| translate}}</h4>
                    <div class="col-xs-12 col-lg-12">
                        <table class="table  table-bordered" >
                            <tr>
                                <td class="col-md-12">
                                    {{entity + 'No results found'| translate}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>                
                <div id='masterDetail' ng-if="searchedData && (searchedData.length) > 0">
                    <div><h4>{{entity + 'Sale Details'| translate}}</h4></div>
                    <div class="form-group">                        
                        <div  class="col-md-12" ng-if="listFilled && gridOptions.data.length > 0">
                            <div id="gridTable" ui-grid="gridOptions" ui-grid-pinning ui-grid-selection ui-grid-auto-resize></div>                                
                        </div>
                        <div  class="col-md-12" ng-if="gridOptions.data.length == 0">
                            <table class="table table-bordered">
                                <tr>
                                    <td class="col-md-12">
                                        {{entity + 'No results found'| translate}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="flag.template">
                <div ng-if="fieldNotConfigured">
                    <table class="table table-bordered">
                        <tr>
                            <td class="col-md-12">
                                {{entity + 'Mandatory fields are not configured for your designation, Please contact administrator'| translate}}
                            </td>
                        </tr>
                    </table>
                </div>
                <div ng-if="fieldNotConfigured == false">
                    <div class="clearfix"></div>            
                    <div ng-include src="'views/secure/parceltemplate.html'"></div>
                    <div ng-if="roughSale.sellFieldAddShow">   
                        <div class="panel-heading">
                            <h4 ng-if="generalSellTemplate">{{entity + 'Sale Parcel'| translate }}</h4>
                        </div>                        
                        <dynamic-form  input-css ="col-md-3" label-css="col-md-2 control-label" db-map="sellDbType" 
                                       internationalization-label="{{i18DynamicForm}}" form-name="form2" template="generalSellTemplate" 
                                       ng-model="categoryCustom" ng-if="generalSellTemplate && flag.loadDynamicForm === true" edit-flag="false" is-diamond="true" screen-rules="screenRules" >
                        </dynamic-form>
                    </div>
                    <div class="col-xs-12" ng-if="roughSale.sellFieldAddShow && generalSellTemplate && generalSellTemplate.length > 0">
                        <div class="row">
                            <hr/>                            
                            <div class="col-xs-12 pull-right text-right">                   
                                <a ng-click="resetAddForm('roughSaleForm')">{{entity + 'Back'| translate}}</a>&nbsp;
                                <button  class="btn btn-hkg" ng-disabled="isParcelSelected()" ng-click="sellParceool(roughSaleForm)">{{entity + 'Sale Parcel'| translate}}</button>
                            </div>
                        </div>
                    </div>                                                            
                    <!--                    <div class="col-xs-12">
                                            <div class="row">
                                                <hr/>
                                                <div class="col-xs-12 pull-right text-right">                     
                                                    <a ng-click="resetAddForm(roughSaleForm)">{{entity + 'Back'| translate}}</a>&nbsp;
                                                </div>
                                            </div>
                                        </div>-->
                </div>
            </div>
        </div>
    </div>    
</form>
