<div class="form-group">
    <div class="col-xs-12">
        <div ng-show="!searchedApplyLeaveRecords || searchedApplyLeaveRecords.length == 0">
                    {{ entity + "No matching results found" | translate }}
                </div>
        <h4 ng-if="searchedApplyLeaveRecords.length > 0">{{entity + 'Searched Leaves'|translate}}</h4>
        <div class="table-responsive">
            <div ng-show="(searchedApplyLeaveRecords.length) > 0">
                <table class="table table-striped table-responsive"  ag-data-table="searchedApplyLeaveRecords">
                    <thead>
                            <tr>
                                <th  style=" white-space: nowrap;">{{ entity + 'From Date' | translate}}</th>
                                <th  style=" white-space: nowrap;">{{ entity + 'To Date' | translate}}</th>
                                <th  style=" white-space: nowrap;">{{ entity + 'Request Type' | translate}}</th>
                                <th>{{ entity + 'Description' | translate}}</th>
                                <th  style=" white-space: nowrap;">{{ entity + 'Leave Days' | translate}}</th>
                                <th>{{ entity + 'Status' | translate}}</th>
                                <th>{{ entity + 'Action' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                         
                            <tr ng-repeat="record in searchedApplyLeaveRecords" dt-rows>
                                <td>{{record.fromDate| date:" dd/MM/yyyy"}}</td>
                                <td>{{record.toDate| date:" dd/MM/yyyy"}}</td>
                                <td>{{record.requestType}}</td>
                                <td><span class="wordRap" ng-bind="record.description"></span></td>
                                <td>{{record.days}}</td>
                                <td>{{record.status}}</td>
                                <td align="center" style="padding-right: 20px;" >
                                    <a href="" title="{{entity + 'Edit Leave'|translate}}" ng-show="{{record.edit}}" class="col-md-offset-1" ng-click="redirectToEdit(record.id)">
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </a>
                                
                                 <div ng-show="{{!record.edit}}">
                                            <a href=""  title="{{entity + 'Archive Leave'|translate}}" ng-click="archiveLeave(record)"><span class="text-danger glyphicon glyphicon-remove"></span></a>
                                        </div>
                                
                                </td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>