<form method="POST" class="form-horizontal" name="transferstockForm" novalidate>
    <div ng-show="dataRetrieved" ng-init="registerLocationChangeEvent(transferstockForm);
            initTransferstockForm(transferstockForm)">
        <div class="col-xs-12 breadcrumb-bg" >
            <div class="col-xs-12 col-lg-8">
                <ol class="breadcrumb">
                    <li>{{entity + 'You are here'| translate}}</li>
                    <li>{{entity + 'Stock'|translate}}</li>
                    <li class="active">{{entity + 'Transfer'| translate}}</li>
                </ol>
            </div>
        </div>
        <div class="col-xs-12 new-panel">
            <div class="clearfix"></div>
            <div id="messages" ng-include src="'templates/messages.html'"></div>
            <div ng-if="!flag.showstockTransferPage && flag.generalSearchTemplateFlag === false ">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <table class="table table-bordered" >
                        <tr>
                            <td class="col-md-12">
                                {{entity + 'First configure the search field to search and transfer'| translate}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div ng-if="flag.showstockTransferPage === false && flag.generalSearchTemplateFlag === true">
                <div class="col-xs-12">
                    <div class="row">  
                        <div ng-if="(currentNodeStocks.length === 0 && flag.valueRetrieved === false)">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <table class="table table-bordered" >
                                    <tr>
                                        <td class="col-md-12">
                                            {{entity + 'No stock found for transfer'| translate}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" ng-show="nodeDetailsInfo.length > 1">
                    <div class="col-md-2">
                        <label for="nodeId" class="control-label">{{entity + 'Select Node'| translate}}</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="nodeId" name="nodeId" ng-model="currentActivityNode" ng-change="updateStockAccordingToNode(currentActivityNode)" ng-options="node.nodeId as (node.nodeId +' - '+ node.groupName) for node in nodeDetailsInfo">
                        </select>
                    </div>
                </div>
                <div id='masterDetail' ng-if="(currentNodeStocks.length) > 0 && listFilled">
                    <div><h4>{{entity + 'stocks to be transfer'| translate}}</h4></div>
                    <div class="form-group">                        
                        <div  class="col-md-12" ng-if="listFilled">
                            <div id="gridTable" ui-grid="gridOptions" ui-grid-selection ui-grid-pinning ui-grid-auto-resize></div>
                        </div>
                    </div>
                    <div class="col-xs-12" ng-if="flag.rowSelectedflag">
                        <div class="row">
                            <hr/>
                            <div class="col-xs-6 pull-right text-right">
                                <button class="btn btn-hkg" ng-click="transferstock()">{{entity + 'Next'| translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="flag.showstockTransferPage">
                <div ng-if="!generalTransferstockTemplate || generalTransferstockTemplate.length == 0">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <table class="table table-bordered" >
                            <tr>
                                <td class="col-md-12">
                                    {{entity + 'First configure the transfer field to transfer'| translate }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div ng-if="generaInvoiceTemplate && generaInvoiceTemplate.length > 0" id="invoiceParent" title="Invoice Details" accordion-collapse>
                    <!--<h4 ng-if="generaInvoiceTemplate">{{entity + 'Invoice Details'| translate }}</h4>-->
                    <dynamic-form  input-css ="col-md-3" label-css="col-md-2 control-label" db-map="invoiceDbType" 
                                   internationalization-label="{{i18DynamicForm}}" form-name="form2" template="generaInvoiceTemplate" 
                                   ng-model="invoiceCustom" ng-if="generaInvoiceTemplate" invoice-id="{{invoiceIdForConstraint}}" parcel-id="{{parcelIdForConstraint}}" lot-id="{{lotIdForConstraint}}" view-only="true" is-diamond="true">
                    </dynamic-form>
                </div>

                <div ng-if="generaParcelTemplate && generaParcelTemplate.length > 0" id="parcelParent" title="Parcel Details" accordion-collapse>
                    <!--<h4 ng-if="generaParcelTemplate">{{entity + 'Parcel Details'| translate }}</h4>-->    
                    <!----{{invoiceIdForConstraint}}-->
                    <dynamic-form  input-css ="col-md-3" label-css="col-md-2 control-label" db-map="parcelDbType" 
                                   internationalization-label="{{i18DynamicForm}}" form-name="form2" template="generaParcelTemplate" 
                                   ng-model="parcelCustom" ng-if="generaParcelTemplate" invoice-id="{{invoiceIdForConstraint}}" parcel-id="{{parcelIdForConstraint}}" lot-id="{{lotIdForConstraint}}" view-only="true" is-diamond="true">
                    </dynamic-form>
                </div>
                <div ng-if="generalLotTemplate && generalLotTemplate.length > 0" id="lotParent" title="Lot Details" accordion-collapse>
                    <!--<h4 ng-if="generalLotTemplate">{{entity + 'Lot Details'| translate }}</h4>-->
                    <!----{{invoiceIdForConstraint}}-->
                    <dynamic-form  input-css ="col-md-3" label-css="col-md-2 control-label" db-map="lotDbType" 
                                   internationalization-label="{{i18DynamicForm}}" form-name="form2" template="generalLotTemplate" 
                                   ng-model="lotCustom" ng-if="generalLotTemplate" invoice-id="{{invoiceIdForConstraint}}" parcel-id="{{parcelIdForConstraint}}" lot-id="{{lotIdForConstraint}}" view-only="true" is-diamond="true">
                    </dynamic-form>
                </div>
                <div ng-if="generalPacketTemplate && generalPacketTemplate.length > 0" id="packetParent" title="Packet Details" accordion-collapse>
                    <dynamic-form  input-css ="col-md-3" label-css="col-md-2 control-label" db-map="packetDbType" 
                                   internationalization-label="{{i18DynamicForm}}" form-name="form2" template="generalPacketTemplate" 
                                   ng-model="packetCustom" ng-if="generalPacketTemplate" invoice-id="{{invoiceIdForConstraint}}" parcel-id="{{parcelIdForConstraint}}" lot-id="{{lotIdForConstraint}}" view-only="true" is-diamond="true">
                    </dynamic-form>
                </div>
                <div ng-if="!flag.staticFieldMissing">
                    <div ng-if="flag.stockTransferFlag && editResetFlag">
                        <div class="panel-heading"><!-- class added to match parent collapse -->
                            <h4 ng-if="generalTransferstockTemplate">{{entity + 'Transfer Stock'| translate }}</h4>
                        </div>
                        <!----{{invoiceIdForConstraint}}-->
                        <dynamic-form  input-css ="col-md-3" label-css="col-md-2 control-label" db-map="transferstockDbType" 
                                       internationalization-label="{{i18DynamicForm}}" form-name="form2" template="generalTransferstockTemplate" 
                                       ng-model="transferstockCustom" ng-if="generalTransferstockTemplate" invoice-id="{{invoiceIdForConstraint}}" parcel-id="{{parcelIdForConstraint}}" is-diamond="true">
                        </dynamic-form>
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <hr/>
                            <div class="col-xs-12 pull-right text-right">                     
                                <a ng-click="onCanel(transferstockForm)">{{entity + 'Back'| translate}}</a>&nbsp;
                                <button ng-if="flag.stockTransferFlag && flag.customFieldGenerated && generalTransferstockTemplate && generalTransferstockTemplate.length > 0" 
                                    class="btn btn-hkg" ng-click="transfer(transferstockForm)">{{entity + 'Transfer stock'| translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="flag.staticFieldMissing">
                    <div class="col-xs-12">
                        <table class="table table-bordered">
                            <tr>
                                <td class="col-md-12">
                                    {{entity + 'Mandatory fields are not configured'| translate}}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <hr/>
                            <div class="col-xs-6 pull-right text-right">
                                <a ng-click="onBack()">{{entity + 'Back'| translate}}</a>&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
